@import "reset.scss";
@import "layout.scss";

body {
  position: relative;
}

.navbar {
  min-width: 480px;
  padding-top: 14px;
  background: #eff4fa;
  border-bottom: 1px solid #d6dfea;
  height: 63px;
  box-sizing: border-box;
}

.logo-picture {
  margin-left: 40px;
  width: 182px;
  height: 35px;
  text-indent: -9999em;
  background: url("../images/logo.png") no-repeat;
}

.login-link {
  line-height: 30px;
  margin-right: 40px;
}

.separator {
  color: #1d5494;
  font-size: 12px;
}

.link-text {
  text-decoration: none;
  font-size: 12px;
  color: #1d5494;

  &:hover {
    text-decoration: underline;
  }
}

.content {
  min-width: 924px;
  padding: 40px 25px;
}

.content-box {
  margin: 0 auto;
  padding: 32px 25px;
  min-height: 420px;
  width: 915px;
}

.login-picture {
  padding: 15px;
}

.loginbox {
  width: 335px;
  height: 387px;
  border: 1px solid #a0b1c4;
  border-radius: 5px;
  position: relative;
}

.loginbox-navbar {
  line-height: 50px;
  border-bottom: 1px solid #d6dfea;
  padding-left: 20px;
  background: #f9fbfe;

  .login-mode {
    margin-left: 45px;
    text-decoration: none;
    font-size: 16px;
    color: #999;

    &:hover {
      color: #000;
    }
  }

  .lm-active {
    color: #000;
    border-bottom: 1px solid #465767;
    padding-bottom: 15px;
  }
}

.loginbox-content {
  padding: 36px 25px 0;
}

.tips {
  margin-top: -18px;
}

.login-code {
  text-align: center;
}

.safety {
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
}

.code-picture {
  margin: 10px auto;
  width: 134px;
  height: 134px;
  border: 1px solid #d3d3d3;
  padding: 4px;
  box-sizing: border-box;

  img {
    width: 100%;
  }
}

.code-info {
  margin: 0 auto;
  padding: 5px;
  border-radius: 10px;
  width: 134px;
  font-size: 12px;
  color: grey;
  background: #f1f1f1;

  &:hover {
    background: #eaeaea;
    cursor: pointer;
  }
}

.login-auto-code {
  position: absolute;
  bottom: 15px;
  left: 25px;
}

.loginbox-setbar-code {
  position: absolute;
  bottom: 15px;
  right: 25px;
}

.login-form {
  .login-info {
    padding-left: 10px;
    padding-right: 30px;
    box-sizing: border-box;
    margin-bottom: 10px;
    background: none;
    border: 1px solid #96a5b4;
    height: 36px;
    width: 282px;
    border-radius: 2px;
    box-shadow: 0 0 0 1000px #fff inset;

    &[placeholder] {
      color: #847777;
      font-size: 14px;
      font-weight: bold;
    }

    &[placeholder]:focus {
      opacity: 0.7;
      border: 1px solid blue;
    }
  }

  .username {
    position: relative;
  }

  .id-clean {
    position: absolute;
    top: 7px;
    right: 8px;
    width: 22px;
    height: 22px;
    cursor: pointer;
    background: url("../images/icons.png") -80px -16px no-repeat;

    &:hover {
      background: url("../images/icons.png") -106px -16px no-repeat;
    }
  }
}

.email-list {
  position: absolute;
  top: 106px;
  left: 25px;
  border: 1px solid #70c2ec;
  background: #fff;
  list-style: none;
  width: 278px;
  z-index: 10;
  border-radius: 1px;
  padding: 1px;

  li {
    padding: 5px 0 5px 9px;
  }

  li:hover {
    background: #b3cff8;

  }
}

.login-auto,
.login-auto-code {
  margin-top: 10px;

  input {
    cursor: pointer;
  }

  label {
    cursor: pointer;
    font-size: 12px;
  }
}

.btn-submit {
  margin-top: 20px;
  border: none;
  border-radius: 3px;
  background: #5a98de;
  line-height: 35px;
  width: 100%;
  color: #fff;
  font-size: 18px;
}

.loginbox-setbar {
  position: absolute;
  bottom: 15px;
  right: 25px;
}

.footer {
  min-width: 480px;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  background: #eff4fa;
  border-top: 1px solid #d6dfea;
  line-height: 30px;
  padding: 2px;

  .copyright {
    color: #868686;
    font-size: 12px;
  }
}
